CYPRESS_BASE_URL=
NUXT_PUBLIC_USERS_API_BASE=
NUXT_PUBLIC_SECURITY_API_BASE=
NUXT_PUBLIC_PROPERTIES_API_BASE=
NUXT_PUBLIC_RESERVATIONS_API_BASE=
NUXT_PUBLIC_SEARCH_API_BASE=
NUXT_PUBLIC_PAYMENTS_API_BASE=
NUXT_PUBLIC_PAYMENTS_COMPLIANCE_MODE=false
